{% extends "base.html" %}

{% block content %}
  <h1>Meal Plan</h1>
  <form method="post" action="{% url 'generate_grocery_list' %}">
    {% csrf_token %}
    {% for collection in collections %}
      <h3>{{ collection.title }}</h3>
      <ul>
        {% for meal in collection.meals.all %}
          <li>
            <strong>{{ meal.title }}</strong>
            <ul>
              {% for recipe in meal.recipes.all %}
                <li>
                  <input type="checkbox" name="recipes" value="{{ recipe.id }}"> {{ recipe.title }}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Generate Grocery List</button>
  </form>
{% endblock %} 