docker-compose.override.yml
docker-compose.override.yml.prod
.env
.env-prod
__pycache__
.packages
.notebook
.pg_data
.media_volume

# deployment stuff
.digital_ocean_env
backup/
.certbot
.nginx
.tmp
app/staticfiles
.DS_Store
node_modules
app/ai_helpers.log
debug.log

# Parcel
.parcel-cache
app/static/**/dist/
.cache

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Test coverage
app/coverage/
.nyc_output/
