ipdb
# console stuff
click
requests

# unfrozen django stuff
# psycopg2
# Django
# djangorestframework
# django-filter
# channels
# channels-redis
# pytz
# Markdown
# gunicorn
# django-allauth
# beautifulsoup4
# openai
# jwt
# pillow

## django frozen at 5.1.4 - 2024-12-13
## pip freeze > requirements.txt
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
asttokens==3.0.0
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.0
decorator==5.1.1
distro==1.9.0
Django==5.1.4
django-allauth==65.3.0
django-filter==24.3
djangorestframework==3.15.2
executing==2.1.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
ipdb==0.13.13
ipython==8.30.0
jedi==0.19.2
jiter==0.8.2
jwt==1.3.1
Markdown==3.7
matplotlib-inline==0.1.7
msgpack==1.1.0
openai==1.58.1
packaging==24.2
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pytz==2024.2
redis==5.2.1
requests==2.32.3
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.3
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13


